body{
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.small-container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  @include dmsans(700);
  color: $title-main;
  font-size: 38px;
  line-height: 1.2;
}