$prime: #FCD7B6;
$subprime: #FEF7F0;
$accent: #A3BBC8;
$pre-accent: #EDF1F4;

$title: #1A1A1A;
$span: #414141;
$subtitle: #243F4D;
$text: #436372;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%icon {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}