$prime: #FCD7B6;
$subprime: #FEF7F0;
$accent: #A3BBC8;
$pre-accent: #EDF1F4;

$title: #1A1A1A;
$title-main: #191919;
$span: #414141;
$subtitle: #243F4D;
$text: #436372;

$screen-xs: 0;
$screen-sm: 414px;
$screen-md: 768px;
$screen-lg: 998px;
$screen-xl: 1200px;

@mixin rubik($weight) {
  font-family: 'Rubik', sans-serif;
  font-weight: $weight;
}

@mixin dmsans($weight) {
  font-family: 'DMSans', sans-serif;
  font-weight: $weight;
}

@mixin poppins($weight) {
  font-family: 'Poppins', sans-serif;
  font-weight: $weight;
}

@mixin t-clamp($lines: 3, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  @if $line-height {
      max-height: $line-height * $lines * 1px;
  }
}

%background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}