$prime: #FCD7B6;
$subprime: #FEF7F0;
$accent: #A3BBC8;
$pre-accent: #EDF1F4;

$title: #1A1A1A;
$title-main: #191919;
$span: #414141;
$subtitle: #243F4D;
$text: #436372;

@mixin r ($width) {
  @media only screen and (max-width: $width + 'px') {
    @content;
  }
}

// все брекпоинты (!не более 6!): 1440px, 1250px, 1080px, 820px, 640px, 440px

@mixin rm($width) {
  @media only screen and (min-width: $width + 'px') {
    @content;
  }
}

@mixin rubik($weight) {
  font-family: 'Rubik', sans-serif;
  font-weight: $weight;
}

@mixin dmsans($weight) {
  font-family: 'DMSans', sans-serif;
  font-weight: $weight;
}

@mixin poppins($weight) {
  font-family: 'Poppins', sans-serif;
  font-weight: $weight;
}

@mixin t-clamp($lines, $line-height) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}

%background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}