.sponsors {
    background-color: $subprime;
    padding: 94px 0 82px;

    @include r(820){
        padding: 43px 0 43px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            object-fit: cover;
            margin: 0 auto;
        }
    }
}