.new-design {
    padding: 94px 0 84px;

    &__title {
        text-align: center;
        margin-bottom: 24px;
    }

    &__list {
        margin-bottom: 75px;
    }

    &__design-card{
        margin: 0 10px 0 10px;
        margin-bottom: 20px;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        margin-right: -30px;
        flex-wrap: wrap;

        @include r(1250){
            margin-right: 0;
            justify-content: center;
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        transform: translateY(-30%);

        &--1 {
            right: -77px;
            top: 53%;
        }

        &--2 {
            right: -43px;
            top: 53%;
        }

        &--3 {
            right: 57px;
            top: 39%;
        }

        &--4 {
            right: -40px;
            top: 48%;
        }

        &--5 {
            right: 31px;
            top: 36%;

        }

        &--6 {
            top: 56%;
            right: -147px;

        }

        @include r(440){
            transform: translate(10%, 5%);
        }
    }
}