.product-provide {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . .";

        @include r(820) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas:
                "."
                "."
                ".";
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 47px 10px;
        background-color: $subprime;

        &:not(:last-child) {
            border-right: 1px solid #E8E4DF;

            @include r(820){
                border-bottom: 1px solid #E8E4DF;
            }
        }

        @include r(820){
            padding: 27px 10px;
        }

        span {
            display: block;
            @include dmsans(700);
            @include t-clamp();
            font-size: 18px;
            line-height: 2.2;
            color: $span;
        }
    }

    &__wrapper {
        position: relative;
        padding-left: 75px;
        max-width: 290px;

        &::before {
            content: '';
            position: absolute;
            @extend %background;
            left: 0;
            top: 50%;
            transform: translateY(-70%);
        }

        &--support {
            &::before {
                width: 51px;
                height: 54px;
                background-image: url('../images/icons/support.svg');
            }
        }

        &--delivery {
            &::before {
                width: 54px;
                height: 37px;
                background-image: url('../images/icons/delivery.svg');
            }
        }

        &--payment {
            &::before {
                width: 54px;
                height: 53px;
                background-image: url('../images/icons/payment.svg');
            }
        }
    }

    &__text {

        p {
            @include dmsans(400);
            @include t-clamp();
            color: #585858;
            font-size: 16px;
            line-height: 1.2;
        }
    }

}