.product-provide {
    &__list {
        display: flex;
        justify-content: space-between;

        @include r(820) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        padding: 47px 10px;
        background-color: $subprime;

        @include r(820) {
            padding: 15px 10px;
        }

        &:not(:last-child) {
            border-right: 1px solid #E8E4DF;

            @include r(820) {
                border-bottom: 1px solid #E8E4DF;
            }
        }

        span {
            display: block;
            @include dmsans(700);
            @include t-clamp(2, false);
            font-size: 18px;
            line-height: 2.2;
            color: $span;
        }
    }

    &__wrapper {
        position: relative;
        padding-left: 75px;
        max-width: 290px;

        &::before {
            content: '';
            position: absolute;
            @extend %background;
            left: 0;
            top: 50%;
            transform: translateY(-70%);
        }

        svg {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-70%);
            fill: $accent;
        }
    }

    &__text {

        p {
            @include dmsans(400);
            @include t-clamp(3, false);
            color: #585858;
            line-height: 1.2;
        }
    }
}