.product-ad {
    padding-top: 144px;

    @include r(820) {
        padding-top: 70px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 820px;
        background-color: $prime;

        @include r(1080) {
            min-height: 55vh;
        }
    }

    &__content {
        max-width: 429px;
        width: 100%;
        margin-bottom: 65px;
        margin-right: 100px;
        padding: 60px 0;

        @include r(1440) {
            margin-right: 0;
        }

        @include r(1080) {
            margin-bottom: 0;
            padding: 20px 20px;
        }
    }

    &__title {
        p {
            @include rubik(500);
            @include t-clamp(3, false);
            color: $subtitle;
            text-transform: uppercase;
            font-size: 72px;
            line-height: 1;

            @include r(1080) {
                font-size: 50px;
            }

            @include r(640) {
                font-size: 30px;
            }
        }
    }

    &__text {
        max-width: 356px;
        margin-bottom: 15px;
        padding: 20px 0;

        p {
            @include rubik(400);
            @include t-clamp(3, false);
            color: $text;
            font-size: 18px;
            line-height: 2;

            @include r(1080) {
                font-size: 14px;
            }
        }

        @include r(820) {
            padding: 10px 0;
            margin-bottom: 0;
        }

        @include r(640) {
            padding: 10px 0;
        }
    }

    &__button {
        padding: 20px 104px 23px 29px;
        color: #FFFFFF;
        background-color: $accent;

        @include r(640) {
            font-size: 14px;
            padding: 15px 50px 15px 15px;
        }

        @include r(440) {
            padding: 10px 43px 10px 5px;
        }

        svg {
            fill: #FFFFFF;
        }
    }

    &__goods {
        position: relative;

        @include r(1440) {
            padding-right: 80px;
            margin-right: 10px;
        }

        @include r(820) {
            padding-right: 0;
        }

        @include r(640) {
            // display: none;
        }

        &::after {
            content: '';
            position: absolute;
            top: -178px;
            right: -115px;
            width: 634px;
            height: 634px;
            border-radius: 50%;
            background-image: linear-gradient(90deg, #02002400 0%, #FFFFFF 100%);
            z-index: 0;

            @include r(1440) {
                right: 50px;
            }

            @include r(1080) {
                top: -30px;
                width: 334px;
                height: 334px;
            }

            @include r(820) {
                right: 0;
            }

            @include r(640) {
                width: 234px;
                height: 234px;
                right: 25px;
                top: 20px;
            }

            @include r(440) {
                right: 0;
                top: 64px;
                width: 134px;
                height: 134px;
            }
        }

        img {
            position: relative;
            z-index: 1;
            height: 263px;
            max-width: 640px;
            width: 100%;
            object-fit: contain;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 45px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);

        li:not(:last-child) {
            margin-right: 11px;
        }

        button {
            width: 29px;
            height: 29px;
            font-size: 10px;
            @include rubik(500);
            outline: transparent;
            cursor: pointer;
            border: 0;
            border-radius: 50%;
            background-color: #FFFFFF9b;
            transition: background-color 0.3s ease;

            &:focus {
                background-color: $accent;
            }

            &:hover {
                background-color: $pre-accent;
            }

            &:active {
                background-color: #FFFFFF;
            }
        }
    }

    .slick-active {
        button {
            background-color: #FFFFFF;
        }
    }
}