.week-products {
    padding: 67px 0 0;

    @include r(820){
        padding: 40px 0 0;
    }

    &__title {
        text-align: center;
        margin-bottom: 24px;
    }

    &__list {
        margin-bottom: 75px;

        @include r(820){
            margin-bottom: 25px;
        }
    }

    &__card {
        margin-bottom: 40px;
        margin-right: 30px;

        @include r(1250) {
            margin: 0 10px 0 10px;
            margin-bottom: 20px;
        }
    }

    &__top-card {
        margin-right: 0;
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        margin-right: -30px;
        flex-wrap: wrap;
        margin-bottom: 146px;

        @include r(1250) {
            justify-content: center;
            margin-right: 0;
        }

        &--popular {
            margin-bottom: 0;
            justify-content: center;
            margin-right: 0;

            li {
                max-width: 870px;
                width: 100%;

                &:not(:last-child) {
                    margin-right: 30px;

                    @include r(1774)  {
                        /*Использовано только один раз*/
                        margin-right: 0;
                        margin-bottom: 130px;
                    }

                    @include r(640){
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .icon {
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.22);

        &:not(:last-child) {
            margin-right: 17px;
        }

        &:focus {
            background-color: #BFB6FC;
        }

        &:hover {
            background-color: $accent;
        }

        &:active {
            background-color: #bbbbbb;
        }
    }
}