.product-filter {
    padding: 67px 0 92px;

    &__title {
        text-align: center;
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;
    }

    &__item:not(:last-child) {
        margin-right: 18px;
    }

    &__button {
        background-color: transparent;
        @include dmsans(700);
        color: #8B8B8B;
        font-size: 16px;
        outline: transparent;
        transition: color 0.3s ease;

        &:hover {
            color: $accent;
        }

        &:active,
        &:focus {
            color: #000000;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 270px;
        height: 380px;
        // органгизовать элементы через marign и padding
        margin-bottom: 40px;
        font-size: 16px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 10px;
        background-color: #FFFFFF;

        img {
            height: 200px;
            object-fit: none;
            // ////////////////
        }
    }

    &__bar {
        position: absolute;
        display: flex;
        padding: 160px 50px;
        opacity: 0;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 1;
        }
    }

    &__link {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: background-color 0.3s ease;

        &:before {
            @extend %icon;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--search {
            background-color: #FEFEFE;
            fill: $accent;

            &::before {
                @extend %search;
            }
        }

        &--cart {
            background-color: $accent;
            fill: #FFFFFF;

            &::before {
                @extend %cart;
            }
        }

        &--favorites {
            background-color: #FEFEFE;
            fill: $accent;

            &:before {
                @extend %favorites;
            }
        }

        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__name {
        padding: 36px 0 6px;
        @include dmsans(500);
        color: $subtitle;
    }

    &__price {
        @include dmsans(700);
        color: $accent;

        sup {
            display: inline-block;
            vertical-align: inherit;
            // /////////
        }
    }
}